*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 75%;
}

body, input {
  display: -webkit-flex;
  background-color: #303030;
  -moz-user-select: none;
  user-select: none;

}

.age-label {
  color: #303030;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0 0 2px;
}

.count {
  color: white;
  margin: 0;
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
  user-select: none;
}

.count sup {
  font-size: 2.4rem;
  margin-left: 7px;
}

label {
  display: block;
}

input, button {
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
}

input {
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #CCC;
  background-color: #FFF;
}

button {
  outline: none;
  display: block;
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 0.25rem;
  background-color: #0BE;
}

footer {
  padding-top: 0.5rem;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

#app {
	-moz-user-select: none;
	user-select: none;
}
